.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-top: 30px;
    margin-right: 200px;
    font-weight: bold;
    font-size: larger;
}

.infoContainer *{
    margin-bottom: 2em;
    font-size: 1.5em;
}