.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin-right: 150px;
}

.infoContainer *{
    margin-bottom: 1em;
    font-size: 1.5em;
}