body{
    background-color:rgb(66, 129, 114, 0.35);
    min-width: 1080px;
    min-height: 720px;
}

.usersContainer{
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.userContainer{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 250px;
    height: 250px;
    border: solid black 1px;
    margin-right: 20px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.userContainer button{
    width: 60%;
    height: 40px;
    align-self: center;
    margin-bottom: 20px;
}

.userContainer:hover{
    background-color: #857f7ff3;
}

.subContainer{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
    justify-self: left;
    font-weight: bold;
    font-size: 1.2em;
}

#suggestedUsersTag{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}