<body>
    <div class="mainContainer">
        <img src="../../../assets/logo.png" alt="Logo"/>

        <form class="mainForm">
            <div class="formContainer">
                <label for="username">Username:</label>
                <input type="text" [formControl]="form[0]" id="username" required>
            </div>
        
            <div class="formContainer">
                <label for="password">Password:</label>
                <input type="password" [formControl]="form[1]" id="password" required>
            </div>
            <span class="error" *ngIf="!loginState">Invalid credentials, please try again!</span>
            <button mat-raised-button [disabled]="isFormValid" (click)="login()">Login</button>
        </form>
        <span>Not registered? Sign up <a routerLink="/register">HERE</a></span>
    </div>
</body>