<body class="bodyContainer">
    <div class="header">
        <img src="../../../assets/upperLogo.png" />
        <div class="infoContainer">
            <span>{{userManager.getUser()?.name}}</span>
            <span>{{userManager.getUser()?.school}}</span>
        </div>
    </div>
    <div id="coursesTag">Courses:</div>
    <div class="coursesContainer">
        <div class="courseContainer" *ngFor="let course of userManager.getUser()?.courses; index as i;">
            <div class="subContainer">
                <span class="title">{{ course.title }}</span>
            </div>
        </div>
    </div>
    <div class="buttonContainer">
        <button mat-raised-button (click)="openDialog()">Add classe</button>
    </div>
</body>