<body class="bodyContainer">
    <app-secondary-header></app-secondary-header>
    <div id="coursesTag">Courses:</div>
    <div class="coursesContainer">
        <mat-card class="courseContainer" *ngFor="let course of userManager.getUser()?.courses; index as i;" (click)="getSuggestedUsers(course)">
            <mat-card-content class="title">{{ course.title }}</mat-card-content>
        </mat-card>
    </div>
    <div class="buttonContainer">
        <button mat-raised-button (click)="openDialog()">Add classe</button>
    </div>
</body>