<form class="mainForm">
    <div class="fielContainer">
        <label for="creativity">Creative</label>
        <input type="range"  min="0" max="10" name="creativity" [formControl]="formControls[0]"/>
    </div>

    <div class="fielContainer">
        <label for="ponctuality">Ponctual</label>
        <input type="range"  min="0" max="10" name="ponctuality" [formControl]="formControls[1]"/>
    </div>

    <div class="fielContainer">
        <label for="responsability">Responsible</label>
        <input type="range"  min="0" max="10" name="responsability" [formControl]="formControls[2]"/>
    </div>

    <div class="fielContainer">
        <label for="sociable">Sociable</label>
        <input type="range"  min="0" max="10" name="sociable" [formControl]="formControls[3]"/>
    </div>

    <div class="fielContainer">
        <label for="meticulous">Meticulous</label>
        <input type="range"  min="0" max="10" name="meticulous" [formControl]="formControls[3]"/>
    </div>

    <div class="fielContainer">
        <label for="organized">Organized</label>
        <input type="range"  min="0" max="10" name="organized" [formControl]="formControls[3]"/>
    </div>

    <button mat-raised-button (click)="submitDialog()">Confirm</button>
</form>
