<body>
    <div class="mainContainer">
        <img src="../../../assets/logo.png" alt="Logo"/>
        <form>
            <mat-form-field class="form">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Name">
            </mat-form-field>

            <mat-form-field class="form">
                <mat-label>Password</mat-label>
                <input matInput placeholder="***">
            </mat-form-field>
        </form>
        
        <button mat-raised-button class="button" routerLink="/login">Login</button>
        <button mat-raised-button class="button" routerLink="/register">Register</button>

    </div>
</body>