body{
    background-color:rgb(66, 129, 114, 0.35);
}

img{
    margin-bottom: 10%;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button{
    margin-bottom: 1em;
    width: 200px;
    background-color: #587A6E;
    color: white;
}
  