<body>
    <div class="mainContainer">
        <img src="../../../assets/logo.png" alt="Logo"/>

        <form class="mainForm">
            <div class="formContainer">
                <label for="username">Username:</label>
                <input type="text" [formControl]="form[0]" id="username">
            </div>
        
            <div class="formContainer">
                <label for="password">Password:</label>
                <input type="text" [formControl]="form[1]" id="password">
            </div>

            <div class="formContainer">
                <label for="university">University</label>
                <input type="text" [formControl]="form[2]" id="university">
            </div>
            
            <div class="formContainer">
                <label for="email">Email</label>
                <input type="text" [formControl]="form[3]" id="email">
            </div>

            <div class="formContainer">
                <label for="courses">Courses (separated by ',' ex: INF3710,MTH1101)</label>
                <input type="text" [formControl]="form[4]" id="courses">
            </div>

            <button mat-raised-button (click)="register()">Register</button>
        </form>
    </div>
</body>